---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A short into about me"
  published_at={new Date("March 24 2024")}
  cover_image="/kuldeep-singh.jpg"
  tags={["aboutme"]}
  published={true}
  updated_at={new Date("June 21 2024")}
  read_time={2}
  author={"Kuldeep Singh"}
>
  <p>Hi +_+</p>
  <h3>Who am I?</h3>
  <p>
    I am Kuldeep Singh a coder, tech enthusiast, a blog writer(this is in
    progress). I have been coding since 2016, started with writing small program
    in C. Now I do all kind of stuff like web development, cloud, IOT,
    Web3, game development also troubleshooting smartphone and laptop issues for others. I
    have a lot of unfinished projects and some completed projects.
  </p>

  

  <p><q>The best way to learn things is by doing it.</q> - by someone</p>
  <p>
    I am always open to opportunities, if you
    are interested in working with me mail at <a href="mailto:kuldeepdev@gmail.com"
      >kuldeepdev407@gmail.com</a
    >
  </p>
</Layout>
