---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A short into about me"
  published_at={new Date("March 24 2024")}
  cover_image="/kuldeep-singh.jpg"
  tags={["aboutme"]}
  published={true}
  updated_at={new Date("April 02 2024")}
  read_time={2}
  author={"Kuldeep Singh"}
>
  <p>Hi +_+</p>
  <h3>Who am I?</h3>
  <p>
    I am Kuldeep Singh a coder, tech enthusiast, a blog writer(this is in
    progress). I have been coding since 2016, started with writing small program
    in C. Now I do all kind of stuff like web development, cloud, IOT,
    Web3, game development also troubleshooting smartphone and laptop issues for others. I
    have a lot of unfinished projects and some completed projects.
  </p>

  <h3>What are my hobby?</h3>
  <ul>
    <li>I like to go for a long 1-2hr walk & see things around.</li>
    <li>I also like to do swimming.</li>
    <li>I love to build,explore & study technology's in my free time.</li>
    <li>experimenting and researching</li>
  </ul>

  <p><q>The best way to learn things is by doing it.</q> - by someone</p>

  <h3>What i know?</h3>
  <p>
    I know some DSA, basic math. Below is the list of technology & language i have worked with. This is Real
    tech I have worked with. I may have forget some syntax but concept are their.
  </p>
  <h4>Programming & Markup Languages</h4>
  <ul>
    <li>Python</li>
    <li>C/C++</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>Zig</li>
    <li>SQL</li>
    <li>MD, HTML</li>
    <li>CSS</li>
  </ul>
  <h4>Library & Frameworks</h4>
  <ul>
    <li>Flask, Django</li>
    <li>
      OpenGL, SFML, Vulkan (from my hobby of making games and understanding
      physics)
    </li>
    <li>React, NextJS, ExpressJS, NodeJS, tailwind, prisma, NextAuth</li>
    <li>Laravel</li>
    <li>ROR (tried little bit)</li>
  </ul>
  <h4>Databases & Cloud Technologies</h4>
  <ul>
    <li>
      MongoDB(I have worked with, optimizing its MongoDB's aggregation query &
      indexing things & reducing responce time of data for some projects)
    </li>
    <li>MySQL (used it alot with php & laravel)</li>
    <li>
      Postgres (used it on some side projects not that much in touch with it)
    </li>
    <li>
      AWS Lambda, Elastic Beanstalk, IAM, S3, EC2, Amplify, ACM, VPC, Routing
    </li>
    <li>Azure Blob storage (used in a college project)</li>
    <li>Google API's (used it as part of project in my first company)</li>
  </ul>
  <h4>Applications</h4>
  <ul>
    <li>Git</li>
    <li>Docker</li>
    <li>Postman</li>
    <li>Vscode & Visual Studio both</li>
    <li>Figma (not that good at UI design)</li>
    <li>Davinci Resolve (did some video editing)</li>
    <li>Blender (created donut's and models for games).</li>
  </ul>
  <p>I know many other things i just learn & do things</p>
  <p>
    I know I still have a lot to learn, but I am improving. I also understand
    that tech does not matter that much new technology will come & old tech will
    also stay so you have to make balance between them. In the end, Solving
    problem really matter. It can be problem between person or your Operating
    system, Framework, society etc.
  </p>
  <p>
    If you have read this far, I want to let you know that I am currently
    becoming unemployed as my current project violates my work ethics. If anyone
    is interested mail at <a href="mailto:kuldeepdev@gmail.com"
      >kuldeepdev407@gmail.com</a
    >. Also i am available for freelance work 🙂;
  </p>
</Layout>
