---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
const posts = (await getCollection("blog"))
  .filter((value) => value.data.published)
  .sort((a, b) => b.data.published_at.valueOf() - a.data.published_at.valueOf())
  .slice(0, 5);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .posts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        list-style-type: disc;
        padding: 0;
        margin-top: 1rem;
      }

      .posts li *:hover {
        text-decoration: underline;
        transition: 0.2s ease;
      }
      .posts li a {
        text-decoration: none;
        display: block;
      }
      .title {
        margin: 0;
        font-weight: bold;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }

      .date * {
        text-decoration: none;
      }
      .description {
        margin: 0;
        color: rgb(var(--gray));
      }
      .posts li a:hover h5,
      .posts li a:hover .date {
        color: rgb(var(--accent));
      }
      @media (max-width: 720px) {
        .posts {
          gap: 0.5em;
          padding:1rem;
        }
        .posts li {
          width: 100%;
          /* text-align: center; */
        }
      }

      .notification-badge {
        background-color: #e95a5a;
        border-radius: 10px;
        padding: 10px 10px;
        width: fit-content;
        margin-left: auto;
        text-decoration: none;
        margin-right: auto;
        color: white;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <p>
        Hi 👋 Kuldeep here this is my personal page. Feel Free to read some of
        my blog post’s. I have been coding & learning about computer’s since
        2017 as a hobby. I have done lot’s to things with lot of technology. I
        have nothing much to show till yet but i have done lot of work for
        startup's and friends . I will not bore you with my talk to much if you
        want to read more about me
        <a href="/about">click here</a>
      </p>

      <h2>Recent Post's</h2>
      <ul class="posts">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <p class="title">{post.data.title}</p>
              </a>
            </li>
          ))
        }
      </ul>
      <div>
        <a href="/blogs">Show More</a>
      </div>

      <p>
        My post are also availble at:
        <ul>
          <li>
            <a href="https://medium.com/@kuldeepdev407"
              >medium.com(long story)</a
            >
          </li>
          <li>
            <a href="https://dev.to/kuldeepdev407"
              >dev.to(For more technical & short post)</a
            >
          </li>
        </ul>
      </p>
    </main>
    <Footer />
  </body>
</html>
